.container {
  margin: 1rem auto;
  max-width: 1290px;
  padding: 1rem;
}

.tagWrapper {
  background-color: #444342;
  padding: 1rem;
  text-align: center;
}

.tagWrapper > span {
  cursor: pointer;
}
